vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-4EIJVN1\\Administrator
vti_modifiedby:SR|DESKTOP-4EIJVN1\\Administrator
vti_timelastmodified:TR|07 Feb 2025 22:56:06 -0000
vti_timecreated:TR|07 Feb 2025 22:56:06 -0000
vti_cacheddtm:TX|07 Feb 2025 22:56:06 -0000
vti_filesize:IR|10950
vti_cachedlinkinfo:VX|S|tvglb.gif S|tvbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/tvtoons/tvglb.gif FSUS|_themes/tvtoons/tvbkgnd.gif FSUS|_themes/tvtoons/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{23057A8E-76DD-4051-BD86-49D3CB998299}
vti_backlinkinfo:VX|
